

<div class="container">
  <div class="row">
    <H1>This is an EASY_BLOG!</H1>
    <p>
      This is an EASY_BLOG!. Follow these steps to be part of us.
    </p>
    <ol>
      <li>Click Sign Up button</li>
      <li>Enter your email and password and click 'SignUp'.</li>
      <li>Click 'Create Article' to create new article</li>
      <li>Click 'All Articles' to see all other articles from other users</li>
      <li>Click 'My Articles' to see all of your published articles</li>
      <li>Hoorey! You are now part of us.</li>
    </ol>
  </div>
</div>


